@model PracticaJoel.AppMVCCodeFirst.Models.Alumno

@{
	ViewData["Title"] = "Edit";
}
<br />
<h1 class="text-center">Editar</h1>


<hr />
<div class="row">
	<div class="col-md-12">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="Nombre" class="control-label"></label>
						<input asp-for="Nombre" class="form-control" />
						<span asp-validation-for="Nombre" class="text-danger"></span>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="Codigo" class="control-label"></label>
						<input asp-for="Codigo" class="form-control" />
						<span asp-validation-for="Codigo" class="text-danger"></span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="Direccion" class="control-label"></label>
						<input asp-for="Direccion" class="form-control" />
						<span asp-validation-for="Direccion" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="Email" class="control-label"></label>
						<input asp-for="Email" class="form-control" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="FechaNacimineto" class="control-label"></label>
				<input asp-for="FechaNacimineto" class="form-control" />
				<span asp-validation-for="FechaNacimineto" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="YearEstudio" class="control-label"></label>
				<input asp-for="YearEstudio" class="form-control" />
				<span asp-validation-for="YearEstudio" class="text-danger"></span>
			</div>
			<br />
			<div class="form-group">
				<button type="submit" value="Save" class="btn btn-outline-success">Guardar</button>
				<a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
			</div>
		</form>
	</div>
</div>



@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
